@media (max-width: 768px) {
    body {
        padding-top: 5%;
    }

    .container {
        max-width: 800%;
    }

    /*Barra de Navegação*/

    .navbar {
        padding: 2px;
        gap: 2px;
        width: 100%;
        z-index: 10;
    }

    .menu_items {
        margin-right: 5%;
    }

    .menu_items li {
        margin-right: 0px;
    }

    .menu_items li a {
        margin-left: 20px;
        font-size: 7px;
    }

    .logo {
        font-size: 22px;
        margin-left: 5%;
    }


    /*Começo da apresentação*/

    .hero {
        padding: 80px 10px;
    }

    .hero_content {
        margin-right: -70px;
        margin-top: 10%;
        height: 500px;
        font-size: 12px;
    }

    .text {
        position: relative;
        bottom: 10%;
        margin-right: 2px;
    }

    .hero_content h1 {
        margin-bottom: 8px;
        text-align: start;
    }

    .hero_content h2 {
        font-size: 1.3rem;
        margin-bottom: 10px;
    }

    .hero_content p {
        font-size: 16px;
        line-height: 1.3;
        margin-bottom: 20px;
        text-align: start;
        width: 300px;
    }

    .hero_image {
        margin-right: 0;
        z-index: 9;
        height: 250px;
    }

    .hero_image img {
        max-width: 180px;
        position: relative;
        right: 20px;
        overflow: hidden;
        top: 80%;
    }

    #butao {
        display: flex;
        flex-direction: column;
        width: 50%;
    }

    #butao:hover .box {
        opacity: 1;
    }

    .box {
        width: 20px;
        left: 15%;
    }

    .fundo {
        margin-top: 20%;
    }

    .btn {
        z-index: 5;
    }

    /*aprestação*/

    .sidebar {
        width: auto;
        max-width: 80px;
        max-height: 200px;
        padding: 30px;
        border-radius: 20px;
        right: 0%;
        margin-top: 40%;
    }

    .sidebar img {
        max-width: 80px;
        border-radius: 50%;
        margin-bottom: 5px;
    }

    .sidebar p {
        text-align: center;
        font-size: 14px;
    }

    .social-links {
        display: flex;
        justify-content: center;
        margin-bottom: 100px;
    }



    @media(max-width: 500px) {
        body {
            padding-top: 30%;
        }

        .navbar {
            height: 30px;
        }

        .menu_items {
            display: none;
        }

        .menuNav {
            position: absolute;
            right: 5px;
            top: 1%;
            display: flex;
            flex-direction: column;
            z-index: 10;
            position: fixed;
        }

        .menuNav img {
            width: 22px;
            height: auto;

        }

        .menuNav button {
            background-color: transparent;
            cursor: pointer;
            border: none;
            right: 0;
            position: absolute;
        }

        .menuMobile ul {
            display: flex;
            flex-direction: column;
            text-align: start;
            padding-bottom: 1rem;
            background-color: #480e5a;
            opacity: 90%;
            border-radius: 10px;
            margin-top: 27px;
        }

        .menuMobile {
            display: none;
        }

        .menu_item li {
            margin-right: 20px;
        }

        .menu_item li a {
            margin-left: 20px;
            color: #fff;
            text-decoration: none;
            transition: color 0.3s ease;
        }

        .menu_item li a:hover {
            color: #622edb;
            text-decoration: underline;
        }
        .logo {
            font-size: 1rem;
            margin-left: 5%;
            width: 14ch;
        }
        .box {
            width: 50px;
            left: 20%;
        }
        .fundo {
            margin-top: 200%;
        }
        /*Começo da apresentação*/

        .hero_content {
            margin-left: 100px;
        }

        .text {
            position: relative;
            bottom: 30%;
            margin-right: 0;

        }

        .hero_content p {
            font-size: 10px;
            line-height: 1.3;
            margin-bottom: 10px;
            text-align: start;
            width: 300px;
        }

        .hero_image {
            margin-right: 0;
            z-index: 9;
            height: 250px;
        }

        .hero_image img {
            max-width: 180px;
            position: relative;
            right: 75px;
            top: 100%;
            z-index: -10;

        }

        .fundo {
            margin-top: 0%;
        }

        /*Sobre*/

        #sobre {
            margin-top: 0%;
        }

        .about {
            font-size: 15px;
            margin-right: 10px;
            margin-top: 3%;
            z-index: 8;
            text-align: justify;
        }

        .about h2 {
            font-size: 1.7rem;
            margin-bottom: 2px;
            position: relative;
            bottom: 5%;
        }

        .about p {
            font-size: 10px;
            text-align: start;
            line-height: 1.2em;
            margin-bottom: 20px;
            align-items: start;
            width: 90%;
            margin-left: 10px;
            margin-bottom: 20px;
        }

        /*Skills*/

        .habilidade {
            width: 100%;
            margin-bottom: 20%;

        }

        #skills {
            margin-top: 10%;
            background-image: url(../imagem/pexeus.jpg);
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center center;
        }

        .habilidade h2 {
            text-align: center;
            margin-bottom: 10%;
        }

        .skills-list {
            display: flex;
            justify-content: center;
            margin-top: 15%;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 10px;
        }

        .skill {

            margin: 0 20px;
            text-align: center;
            margin-top: 10%;
        }

        .skill img {
            max-width: 30px;
            margin-bottom: 10px;
        }

        .bar {
            overflow: hidden;
            position: relative;
        }

        .progress_base {
            width: 80px;
            height: 5px;
            background-color: #ddd;
            bottom: 0;
            left: 0;
        }

        .progress_html {
            width: 0%;
            height: 5px;
            background-color: #425bca;
            animation: progress-bar-html 5s infinite forwards;
            position: absolute;
            bottom: 0;
            left: 0;
        }

        .progress_css {
            width: 0%;
            height: 5px;
            background-color: #425bca;
            animation: progress-bar-css 5s infinite forwards;
            position: absolute;
            bottom: 0;
            left: 0;
        }

        .progress_js {
            width: 0%;
            height: 5px;
            background-color: #425bca;
            animation: progress-bar-js 5s infinite forwards;
            position: absolute;
            bottom: 0;
            left: 0;
        }

        .progress_vs {
            width: 0%;
            height: 5px;
            background-color: #425bca;
            animation: progress-bar-vs 5s infinite forwards;
            position: absolute;
            bottom: 0;
            left: 0;
        }

        .progress_gt {
            width: 0%;
            height: 5px;
            background-color: #425bca;
            animation: progress-bar-gt 5s infinite forwards;
            position: absolute;
            bottom: 0;
            left: 0;
        }

        .progress_excell {
            width: 0%;
            height: 5px;
            background-color: #425bca;
            animation: progress-bar-excell 5s infinite forwards;
            position: absolute;
            bottom: 0;
            left: 0;
        }

        #contato {
            font-size: 13px;
        }

        footer {
            font-size: 12px;
        }

        
/*Projetos*/

.laboratorio {
    width: 100%;
    height: 10%;
}
.laboratorio h2 {
    text-align: center;
}

.laboratorio h3 {
    text-align: center;
    margin-top: 10%;
}

.laboratorio-list {
    display: flex;
    flex-direction: column;
    width: 300px;
    align-items: center;
}

.laboratorio-item {
    background-color: #282828;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    width: 80%;
    object-fit: contain;
    min-height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;/
}

.laboratorio-item p {
    font-size: 1vw;
    margin-bottom: 20%;
    text-align: start;
    letter-spacing: normal;
    word-spacing: 0.2em;
    font-size: 13px;
    margin-bottom: 20px;/
    
}



.laboratorio-item img {
    max-width: 100%;
    margin-bottom: 10px;
    border-radius: 10px;
    height: 40%;
}

.laboratorio-item img:hover {
    transform: scale(1.2);
}

.ferramentas {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 10px;
    gap: 10px;
}

.ferramentas span {
    background-color: #383838;
    color: #fff;
    padding: 5px;
    border-radius: 5px;
    margin: 0 5px;
    font-size: 0.8rem;
    object-fit: contain;
    display: flexbox;
    box-sizing: border-box;
}



    }
}